### Server
.springBeans
techint-checklist-java/**/target/
*.classpath
*.project
*.settings/
*.db
*.log
*~
*.zip
*.class
*.idea
*.iml
*.orig
data

### Client
target
build
.gradle
.sass-cache
*.sublime-project
*.sublime-workspace
data
.DS_Store
bin-debug
bin-release
html-template
.externalToolBuilders
node_modules/

### Scripts
packer_cache/
output-vagrant/
scripts/packer/*.pem
*.box

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

/bin/
